.logo
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 15px
  text-decoration: none
  &__svg
    width: 54px
    height: 54px
    flex-shrink: 0
  &__text
    font: 400 15px/1.5 $pt
    color: $green
    @include max(1279)
      display: none

.header
  border-bottom: 1px solid rgba(0, 0, 0, 0.04)
  &__wrap
    padding: 15px 0
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 40px
    @include max(1279)
      justify-content: flex-start
  &__nav
    margin-left: auto
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 30px
    @include max(1279)
      position: fixed
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      background: #fff
      padding: 60px 100px 30px 30px
      border-radius: 30px 0 0 30px
      top: 0
      z-index: 3
      width: 70%
      height: calc(100% + 50px)
      box-shadow: 0 20px 30px rgba(41, 41, 42, 0.1)
      right: -100%
      transition: right 0.3s ease
    @include max(767)
      width: 90%
      &.open
        right: -1px
    &-li
      position: relative
      &.active
        a
          color: $green
        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          top: calc(1em * 1.5 + 30px)
          height: 1px
          background: $green
          @include max(1279)
            content: unset
    &-link
      display: inline-block
      font: 400 13px/1.5 $manrope
      color: $black
      white-space: nowrap
      @include max(1279)
        font: 700 16px/1.5 $manrope
  &__button
    width: 150px
    height: 40px
    font: 400 13px/1.5 $manrope
    text-align: center
.burger
  display: none
  flex-direction: column
  justify-content: space-between
  align-items: stretch
  width: 30px
  height: 23px
  flex-shrink: 0
  cursor: pointer
  position: relative
  margin-left: auto
  z-index: 9
  &::before, &::after
    content: ''
    width: 100%
    height: 2px
    background: $green
    transition: all 0.3s ease
  &::before
    transform-origin: left top
  &::after
    transform-origin: left bottom
  span
    display: block
    height: 2px
    background: $green
  @include max(1279)
    display: flex
  &.active
    span
      display: none
    &::before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)